/* styles/globals.css */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  /* background-color: #000000; */
  /* background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background: rgb(5, 5, 5);
  /* background: radial-gradient(
    circle,
    rgb(180, 207, 231) 0%,
    rgb(52, 183, 235) 100%
  ); */
}
.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(80, 227, 238);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.glass1{
  background: rgba(22, 21, 21, 0.25);
  box-shadow: 0 8px 32px 0 rgb(80, 81, 82);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 5px solid rgb(29, 28, 28);
}